<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179080294250-7gmdarlo3m9v373mjgio393uof83eeec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179080294250-7gmdarlo3m9v373mjgio393uof83eeec</string>
	<key>API_KEY</key>
	<string>AIzaSyBZDhD1A5i9IwQHP7WPg-wsa81A5-OCLCY</string>
	<key>GCM_SENDER_ID</key>
	<string>179080294250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LTE-Manager</string>
	<key>PROJECT_ID</key>
	<string>ltemanager-d0a13</string>
	<key>STORAGE_BUCKET</key>
	<string>ltemanager-d0a13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179080294250:ios:e70abd19b77b6459e13f13</string>
</dict>
</plist>